body {
    background-color: rgb(43, 39, 39);
    color: rgb(201, 192, 192);
}

a {
    color: rgb(236, 227, 227);
}

.menu {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .menu a:active,
  .menu a:hover {
    background-color: teal;
    color: white;
  }