@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px
}


body {
    background-color: rgb(119, 230, 119);
}

header {
    margin-top: 0px;
    text-align: center;
    background-color: rgb(141, 112, 112);
    color: white;
    width: 100vw;
}


nav {
    text-align: left;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}



main {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 20px 10px;

}

main h2, main h3 {
    margin: 10px auto;
}

article p {
    text-indent: 40px;
}

article#curiosidade {
    background-color: rgb(219, 177, 177);
}

article#curiosidade h2 {
    color: white;
    background-color: rgb(126, 39, 39);
}

footer {
    margin: 20px auto;
    text-align: center;
}